
html, body {
  overflow-x: hidden;
  height: 100%;
}

body {
  background: #ff785a;
  background-image: url("../images/backgroundtile2.jpg");
  font-family:  "garamond", serif;
  color: #ffd25a;
  position: relative;
  padding-bottom: 50px;
}

#aboutMeCloud{
  margin: 20px auto;
  padding: 20px;
  background: #191919;
  height: 400px;
  width: 95%;
  box-shadow: 0 0 10px 10px #191919
}

#whoAmIHeader{
  font-size: 4rem;
}

/*Make an image round CSS */
.round-image {
    border-radius: 50%;
}

footer p {
  margin-bottom: 0;
  border-top: 1px dashed #191919;
}

.content {
  margin-top: 25px;
  background: #191919;
  border: 2px solid #ffaa5a;
  border-radius: 5px;
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 10px 1px #191919;
  padding:1%;
  }

.dark-glow {
  box-shadow: 0 0 10px 1px #191919;
}

.navbar {
  z-index: 1;

}

.pulse {
  z-index: 2;
}

.image-scale{
  width: 75%;
  height: 100%;
}

.header-bg{
background: linear-gradient(90deg, #191919, #ff785a);
}

.active{
  background: #ff785a !important;
  padding-bottom: 5px !important;
}

.bg-texture {
  background-color: #191919;
  background-image: url(../images/3px-tile.png);
}

.nav-link{
  margin: 0px 10px;
  min-width: 200px;
}

@media (max-width: 768px) {

  [class*="col-"] {
      margin-bottom: 15px;
  }

}

.blockquote {
  margin: 30px !important;
}

.programcard {
  margin-bottom: 40px !important;
  box-shadow: 2px 2px 10px #191919;
  margin-left: 10px;
  margin-right: 10px;
}

.badge-javascript{
  background: #ff785a;
}

.badge-p5js{
  background: #FFC300;
}

.badge-tonejs{
  background: #4869FD;
  color: #f7f5f2;
}

.badge-python{
  background: #DAF7A6;
}

.badge-bs4{
  background: #581845;
  color: #f7f5f2;
}

.badge-broken{
  background: #191919;
  color: #f7f5f2;
}

.badge-csharp{
  background: #D7BDE2;
}

.badge-xamarin{
  background: #A9CCE3;
}

.badge-mobile{
  background: #FDEBD0;
}


.fadeInAnimation, .fadeInAnimationFast, .fadeInAnimationVisible
{
    opacity:0;
}
