


*,
*::before,
*::after {
  box-sizing: unset; // 1
}

.audiojs {
  margin-left: 0;
  border-radius: 5px;
}

body {
  background-image: url("../images/backgroundtile2.jpg");
}


.accordianHolder {
   border: 1px solid #d8d7d4;
}

.accordion {
  margin-bottom: 20px;
}
